.bg {
    width: 100vw;
    height: 100vh;
    background-image: url("../../../../assets/images/bg.webp");
    background-position: center;
    background-size: cover;
}
.overlay {
    height: inherit;
    background-color: rgba(0,0,0, .5);
}
.navbar {
    background-color: transparent !important;
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
}
.navbar-light .navbar-nav .nav-link {
    color: #fff !important;
}
.W\(150px\) {
    width: 150px;
}
.bg-header {
    color: #fff;
    margin: auto;
    text-align: center;
    position: relative;
    top: 13rem;
}
.bg-header h1 {
    font-size: 8rem;
    font-weight: 600;
}
.bg-header h1 span {
    font-size: 4rem;
    font-weight: 300;
    position: relative;
    top: -50px;
    left: -20px;
}
